.main {
    perspective: 900px;
    transform-style: flat;
    padding: 0 15px 15px 0;
    float: left;
    width: 33.3333%;
}

.wrapper {
    width: 100%;
    height: 230px;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    transform-style: flat;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.thumb-nb, .thumb-color {
    width: 315px;
    height: 230px;
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 850ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
}

.thumb-nb {
    z-index: 9
}

.main.on .thumb-nb {
    opacity: 0;
    transform: scale(1.15);
}

.shadow {
    width: 315px;
    height: 270px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    transition: all 650ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.main.on .shadow {
    opacity: 0;
}

.main.on .wrapper {
    transform: rotateY(0deg);
}

.description {
    position: absolute;
    z-index: 20;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 240ms;
    bottom: 0;
}

.description .title {
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    padding: 0;
    letter-spacing: 0.12rem;
    text-align: center;
    color: white;
}

.link-icon {
    position: absolute;
    z-index: 20;
    top: 20%;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    height: 88px;
    background-image: url(http://www.lempens-design.com/WD_IMAGES/_LUXEMBOURG/luxembourg-link-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 450ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 300ms;
    transform: scale(0) rotate(90deg);
    opacity: 0;
}

.main.on .link-icon {
    transform: scale(0.75) rotate(0deg);
    opacity: 1;
}
